{
    "good_fonts": ["standard"],
    "chars": "ABCEFGHJKMNPRSTLabcdefghijkmnopqrstuvwxyz",

    "deceptor": "markov2d",
    "__comment__":"Use 'markov2d','markov','random' or a custom deceptor module name (must have the function generate_decoy(linelen,lineheight,realtext) defined).",

    "charlens":[5,6,7],
    "steps":50,

    "training_settings":{
        "memory":5,
        "examples":1000
    }
}